<section class="w-40 bg-zinc-700 text-white" >
  <article class="mx-2 pt-2 border-b-2 border-gray-600">Entire Caseload</article>
  <article class="m-2 border-b-2 border-gray-600">Intake</article>
  <article class="m-2 border-b-2 border-gray-600">Referral Cases</article>
  <article class="m-2 border-b-2 border-gray-600">Intergovernmental Cases</article>
  <article class="m-2 border-b-2 border-gray-600">Locate Cases</article>
  <article class="m-2 border-b-2 border-gray-600">Establishment Cases</article>
  <article class="m-2 border-b-2 border-gray-600">Enforcement Cases</article>
  <article class="m-2 border-b-2 border-gray-600">Financial Management Cases</article>
  <article class="m-2 border-b-2 border-gray-600">Case Management</article>
  <article class="m-2 border-b-2 border-gray-600">File Upload</article>
  <article class="m-2 border-b-2 border-gray-600"> Mail Processing</article>
  <article class="m-2 border-b-2 border-gray-600">Notices</article>
</section>
