<footer class="footer">
    <div class="container">
        <div class="container-1">
         <h4>CHILD SUPPORT</h4>
         <p> Support Calculator </p>
         <p>Child Support Notice Generator</p>

        </div>
        <div class="container-2">
        <h4>
            DHS MAIN OFFICE
        </h4>
        <address>311 Saratoga Baltimore, MD 21201</address> 
        <p>1-800-000-0000</p>
        </div>
        
    </div>
    
    <p style="text-align: center; padding-bottom:5px ;"> Contact Us | DHS Home | Privacy Notice| 2019 Powered By MD THINK</p>
</footer>