<div class="application-1">
  <div class="common-div"><input type="text" placeholder="Application Number"></div>
  <div class="common-div"><input type="text" placeholder="Application Name"></div>
  <div class="common-div"><input type="text" placeholder="Application Status"></div>
  <div class="common-div"><input type="date" placeholder="Start Date"></div>
  <div class="common-div"><input type="date" placeholder="End Date"></div>
  <div class="common-div"><button class="search-1">Search</button></div>
  <div class="common-div"><button class="clear-1">Clear</button></div>
</div>


<div class="application-2">
   <div><h4>Application Number</h4></div>
   <div><h4>Application Name</h4></div>
   <div><h4>Application Status</h4></div>
   <div><h4>Created Date</h4></div>
   <div><h4>Action</h4></div>
</div>