<header class="bg-indigo-700 w-full py-3 ">
  <h1 class="text-center text-white text-4xl" >CHILD SUPPORT MANAGEMENT SYSTEM</h1>
</header>

<nav class="bg-white w-full ">
<div class="flex">
  <input class="p-2" type="text" placeholder="Search Case Number">
  <button class="bg-indigo-700 py-3 px-5 text-white">Go</button> 
  <button class="bg-red-600 py-3 px-5 text-white">Clear</button>

  <ul class="flex mt-5 text-xs">
  <li><a href="" class="px-3 ">ADV Search</a></li>
  <li><a href="" class="px-3 ">Document Generaion</a></li>
  <li><a href=""class="px-3 ">SSP</a></li>
  <li><a href=""class="px-3 ">DVR</a></li>
  <li><a href=""class="px-3 "> File Management</a></li>
  <li><a href=""class="px-3 "></a><input class="p-2" type="text" placeholder="Emergency Search"></li>
  <li><a href=""class="px-3 ">Reports</a></li>
  <li><a href=""class="px-3 ">Alerts</a></li>
  <li><a href=""class="px-3 ">Prompts</a></li>
  <li><a href=""class="px-3 ">Contact Support</a></li>
  <li><a href=""class="px-3 ">Crystal Thomas</a></li>
 </ul>
</div>
</nav>

<nav class="bg-white w-full ">
  <div class="border-t-4 border-gray-300 ">
  <ul class="flex h-12 text-base font-semibold bg-slate-200   ">
    <li class="px-7 mx-2 border-x-2 border-white ">Dashboard</li>
    <li class="px-7 ">Case Registration</li>
    <li class="px-7 ">Case Registration</li>
    <li class="px-7 ">Case Management</li>
    <li class="px-7 ">Locate</li>
    <li class="px-7 ">Intergovernmental</li>
    <li class="px-7 ">Establishment</li>
    <li class="px-7 ">Enforcement</li>
  </ul>
  </div>
    </nav>